*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
}
body{
    font-family: 'Tajawal', sans-serif;
    background: var(--b6);
}
:root{
    

    --10-px:10px;
    --1c:#56c6f7;
    --2c:#AFD6BB;
    --3c:#eca338;
    --4c:#242F38;
}
.container{
    padding: 0 15px;
    margin: 0 auto;
    
    
}
/* Extra small devices (phones, 600px and down) */
/* @media (max-width: 600px) { }

*/

/* Small devices (portrait tablets and large phones, 600px and up)
@media (min-width: 600px) { }

*/
@media (min-width: 768px) {
    .container{
        width: 750px;
        
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .container{
        width: 750px;
        
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media  (min-width: 992px) {
    .container{
        width: 970px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* end global */
.subject{
    margin-top: var(--10-px);
    margin-bottom: var(--10-px);
    
    padding: var(--10-px) 20px;
    background-color: var(--1c);
    border-radius: var(--10-px);
    position: relative;
    z-index: 10;
    overflow: hidden;
    color: #fff;
    display: grid;
}
.subject:nth-child(3), .subject:nth-child(4){
    background-color: var(--2c);
}
.subject:nth-child(5), .subject:nth-child(6){
    background-color: var(--3c);
}
.subject:nth-child(7), .subject:nth-child(8){
    background-color: #808daa;
}
.subject:nth-child(9), .subject:nth-child(10){
    background-color: #debbb3
    ;
}

.subject:nth-child(11), .subject:nth-child(12){
    background-color: #98dcf7;
}
.subject::before{
    content: "";
    position: absolute;
    top: -70px;
    right: -80px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 50px solid var(--4c);
    background-color: var(--3c);
    z-index: -1;
    opacity: 0.1;
}
.subject::after{
    content: "";
    position: absolute;
    top:  -150px;
    left: -150px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 50px solid var(--4c);
    background-color: var(--3c);
    z-index: -1;
    opacity: 0.1;
}
@media (max-width: 768px) {
    .subject{
        border-radius: var(--10-px);
        width: 100%;
    }
}
.subject h4{
    color: var(--4c);
}
.subject .link-zoom{
    background-color: #fff;
    color: var(--4c);
    text-decoration: none;
    display: block;
    width: 125px;
    
    border-radius: 25px;
    padding: 5px 10px;
    position: absolute;
    left: var(--10-px);
    bottom: var(--10-px);
}
.subject .link-zoom i{
    background-color: var(--1c);
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 3px;
    color: #fff;
    border-radius: 50%;
}
:root{
    --b1:#37D49B;
    --b2: #FF6846;
    --b3:#FFAE00;
    --b4: #00BCF9;
    --b5:#414772;
    --b6:#ECEEFC;

    --10-px:10px;
}

/* start courses */
.navbar{
    border-top: 1px solid #ddd;
    width: 100px;
    height: 300px;
    
    position: absolute;
    padding: 7px 6px;
    background-color: #fff;
    z-index: 999;
}

.navbar ul{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
@media (max-width: 768px) {
    .navbar{
        border-top: 1px solid #ddd;
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        padding: 7px 6px;
        background-color: #fff;
        z-index: 999;
    }
    
    .navbar ul{
        flex-direction: row;
        
    }
}
.navbar ul li{
    
    list-style: none;
    
}
.navbar ul li a {
    color: var(--b5);
    text-decoration: none;
    display: grid;
    justify-content: center;
}
.navbar ul li a i{
    font-size: 1em;
    color: var(--b2);
text-align: center;
}
.courses{
    position: relative;
}
.courses .header {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 33vh;
    background-color: var(--b1);
    position: relative;
    overflow: hidden;
    
    z-index: -1;
    color: var(--b6);
}

.courses .header h5{
    color: #fff;
    z-index: 2;
}
.courses .header i{
    position: absolute;
    top: -410px;
    left:  50%;
    transform: translateX(-50%);
    font-size: 850px;
    color: var(--b5);
    opacity: 0.05;
    z-index: -1;
    
}
.courses .container{
    position: relative;
    top: -60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32%,1fr));
    gap: 1%;
}
@media (max-width: 768px) {
    .courses .container{
        
        grid-template-columns: repeat(auto-fill, minmax(100%,1fr));
        gap: 0.5%;
    }
}
.course{
    
    padding: var(--10-px);
    background-color: #fff;
    display:flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.course .time{
    
    text-align: center;
    padding: 5px 8px;
    color: #8590D0;
}
.course .time i{
    
    color: var(--b4);
}
.course .title{
    position: relative;
    margin-right:20px ;
}
.course .title::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 50px;
    background-color: #d6d7d8;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.course .title h2{
    color: var(--b5);
}
.course .title .teacher{
    display: flex;
    color: #8590D0;
}


.course .link-zoom{
    
    
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.course .link-zoom a{
    
    color: var(--b4);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 2px 2px 2px 10px;
    border-radius: 20px;
    
}
.course .link-zoom a i{
    display: block;
    color: var(--b6);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--b4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    
}
.course .link-zoom a>p{
        font-size: 0.7em;
}
.course .link-zoom >p{
    font-size: 0.8em;
    margin-top: 4px;
    color: var(--b5);
}
/* end courses */